@charset "UTF-8";
body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  margin: -1px;
}

@keyframes plane {
  0% {
    transform: translate(0);
    rotate: 0deg;
  }
  25% {
    transform: translate(200px, 80px);
    rotate: -90deg;
  }
  50% {
    transform: translate(200px, 80px);
    rotate: -180deg;
  }
  65% {
    transform: translate(150px, 65px);
    rotate: -240deg;
  }
  100% {
    transform: translate(0);
    rotate: -360deg;
  }
}
.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo--black-part {
  color: #000000;
}

.logo--white-part {
  color: #ffffff;
}

.button {
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
}

.heading {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.social-networks {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-networks__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}
.social-networks__link:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navigation__link {
  text-decoration: none;
  color: #212121;
}

.navigation__link--current {
  color: #2196f3;
}

.communication__link {
  text-decoration: none;
  color: #757575;
}

.communication__icon {
  display: none;
  margin-right: 10px;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  text-align: center;
  background-color: #2f303a;
  background-image: url(../images/team-work-bg.jpg), linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right 50% bottom 50%;
}

.hero__heading {
  color: #ffffff;
}

.hero__button {
  padding: 10px 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.hero__button:focus, .hero__button:hover {
  background-color: #f5f4fa;
  color: inherit;
}

.features {
  display: flex;
  justify-content: space-between;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__image-wrap {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  padding: 25px 100px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.features__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin: 0;
  padding: 0;
}

.features__descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
}

.specialization {
  padding-top: 0;
}

.specialization__container {
  flex-direction: column;
}

.specialization__list {
  display: flex;
  gap: 30px;
}

.specialization__item {
  position: relative;
  padding: 0;
}

.specialization__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.specialization__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
}

.team__container {
  flex-direction: column;
}

.team__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.team__member {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__card {
  padding: 30px;
}

.team__name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.clients {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients__link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: #afb1b8 solid 1px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border: #2196f3 1px solid;
}
.clients__link:hover .clients__logo, .clients__link:focus .clients__logo {
  fill: #2196f3;
}

.clients__logo {
  width: 160px;
  height: 60px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__container {
  display: flex;
  flex-direction: column;
}

.filter {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.filter__button {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__card {
  flex-basis: calc((100% - 68px) / 3);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__card:hover .portfolio__descr {
  transform: translateY(0%);
}

.portfolio__overlay {
  position: relative;
  overflow: hidden;
}

.portfolio__descr {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__label {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__type {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
}

.footer__logo {
  width: 100%;
  margin-bottom: 20px;
}

.address {
  display: flex;
  flex-direction: column;
  max-width: 231px;
  width: 100%;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:focus, .address__link:hover {
  color: #2196f3;
}

.address__location {
  color: #ffffff;
}

.address__contact {
  color: rgba(255, 255, 255, 0.6);
}

.join {
  margin-top: 12px;
  margin-left: 70px;
}

.join__heading {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.join__link {
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.join__link:hover, .join__link:focus {
  background-color: var(#2196f3);
}

.join__icon {
  fill: #ffffff;
}

.subscribe {
  margin-left: 93px;
  margin-top: 12px;
  width: 100%;
}

.subscribe__heading {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe__form {
  display: flex;
  justify-content: space-between;
}

.subscribe__field {
  margin-right: 12px;
  padding: 15px 16px;
  width: 358px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__field:focus {
  outline: transparent;
  border: 1px solid #2196f3;
}

.subscribe__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 10px 28px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__button:hover, .subscribe__button:focus {
  background-color: rgba(255, 255, 255, 0.1);
}
.subscribe__button:focus {
  outline: transparent;
  border: 1px solid #2196f3;
}
.subscribe__button:hover .subscribe__icon {
  fill: #2196f3;
}
.subscribe__button:focus .subscribe__icon {
  fill: #2196f3;
  animation-name: plane;
  animation-duration: 1750ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.subscribe__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: #ffffff;
  transform-origin: center;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: visibility, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition-property: visibility, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(100%, -100%) rotate(360deg) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal .modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal .modal__close:hover, .modal .modal__close:focus {
  background-color: #ffffff;
}
.modal .modal__close:hover .modal__icon, .modal .modal__close:focus .modal__icon {
  fill: #2196f3;
}
.modal .modal__icon {
  width: 18px;
  height: 18px;
  fill: #000000;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal .modal__heading {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}
.modal .modal__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
}
.form:not(:last-child) {
  margin-bottom: 10px;
}
.form:nth-child(4) {
  margin-bottom: 20px;
}

.form__lable {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__field {
  position: relative;
}

.form__input {
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus {
  outline: transparent;
  border: 1px solid #2196f3;
}
.form__input:focus + .form__icon {
  fill: #2196f3;
}

.form__icon {
  position: absolute;
  bottom: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  transform: translateY(50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Коментар Comment */
.form__comment {
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form__comment:focus {
  outline: transparent;
  border: 1px solid #2196f3;
}

/* ===================== Чекбокс Checkbox ===================== */
.checkbox {
  text-align: center;
  margin-bottom: 30px;
  user-select: none;
}

.checkbox__label {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.checkbox__origin.visually-hidden {
  transform: translate(9px, 20px);
  outline: none;
}

.checkbox__frame {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 3px;
  width: 16px;
  height: 15px;
  border-radius: 4px;
  border: 2px solid #000000;
  background-color: transparent;
}

.checkbox__origin:checked + .checkbox__frame {
  border-color: #2196f3;
  background-color: #2196f3;
}

.checkbox__icon {
  fill: transparent;
  width: 100%;
  height: 100%;
}

.checkbox__origin:checked + .checkbox__frame svg {
  fill: #ffffff;
}

.checkbox__policy {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #2196f3;
}/*# sourceMappingURL=main.css.map */