.logo {
  text-decoration: none;
  font-family: $logo-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: $blue-accent;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--black-part {
  color: #000000;
}

.logo--white-part {
  color: $white-accent;
}
