.social-networks {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-networks__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $blue-accent;
  text-decoration: none;

  &:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  // display: flex;
  // justify-content: center;
  // align-items: center;

  // width: 44px;
  // height: 44px;
  // border-radius: 50%;

  // transition-property: background-color;
  // transition-duration: 250ms;
  // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  // &:hover,
  // &:focus {
  //   background-color: $blue-accent;
  // }

  // &:hover .social-networks__icon,
  // &:focus .social-networks__icon {
  //   fill: white;
  // }
}

// .social-networks__icon {
//   width: 20px;
//   height: 20px;

//   fill: $grey-icons-fill;

//   transition-property: fill;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }
