.container {
  min-width: 320px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;

  @include mobile {
    width: 480px;
  }

  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1200px;
  }
}
