.features {
  display: flex;
  gap: 30px;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  @media screen and (min-width: 768px) {
    justify-content: center;

    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.features__item {
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
  }
}

.features__image-wrap {
  display: flex;
  justify-content: center;
  background-color: $grey-accent;
  height: 120px;
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 4px;
}

.features__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $main-color;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.features__descr {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
  color: $minor-color;

  margin-top: 10px;
}
