.features {
  display: flex;
  justify-content: space-between;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__image-wrap {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  padding: 25px 100px;
  border-radius: 4px;

  background-color: $grey-accent;
}

.features__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $main-color;

  margin: 0;
  padding: 0;
}

.features__descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $minor-color;

  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
}
