.portfolio__container {
  display: flex;
  flex-direction: column;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 8px;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.filter__button {
  padding: 6px 22px;

  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: $main-color;
  background-color: $grey-accent;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $blue-accent;
    color: $white-accent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  justify-content: center;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    justify-content: start;
  }
}

.portfolio__card {
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 68px) / 3);
  }

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .portfolio__descr {
    transform: translateY(0%);
  }
}

.portfolio__overlay {
  position: relative;

  overflow: hidden;
}

.portfolio__link {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.portfolio__descr {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);
  display: flex;

  width: 100%;
  height: 100%;
  padding: 24px;
  align-items: center;

  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;

  color: $white-accent;
  background-color: rgba(33, 150, 243, 0.9);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__label {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__type {
  color: $minor-color;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
