.specialization {
  padding-top: 0;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.specialization__container {
  flex-direction: column;
}

.specialization__list {
  display: flex;
  gap: 30px;
}

.specialization__item {
  position: relative;

  padding: 0;
}

.specialization__overlay {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
}

.specialization__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $white-accent;
}
